# Node.js dependencies
node_modules/

# Build output
build/
dist/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.vercel/
.idea/
*.iml

# Temporary files
*.tmp
*.swp
*.swo

# Coverage reports
coverage/

# React-specific
*.cache/

CreateSchema.sql